{% extends "layout.html" %}

{% block content %}
<br><br><br><br><br><br><br><br><br><br><br>

<div class="typewriter">
<h2>{{ title }}</h2>
<h3>{{ message }}</h3>
<br><br>
</div>
<div>
<form action="/contact1" method="post" enctype="multipart/form-data">
	<br>
                <input type="file" allign="center" name="file" />
                <input type="number" name="key" value="" />
                <input type="submit" value="Upload">
<br><br><br><br><br><br><br><br>
</div>

{% endblock %}
