{% extends "layout.html" %}

{% block content %}
<style type="text/css">
        body{
            background-color: black;
            color: #c8d7c5;
        }
        .jumbotron {
        	background-color: black;
        }
    </style>
    <br><br><br><br><br>
<div class="jumbotron">
    <div class="typewriter">
    <h1 style="font-family: Arial, Helvetica, sans-serif"><b> IMAGE SECURITY </b></h1>
    <br></div>
    <p class="lead">Welcome to Image Security. We intend to protect your images from misuse and malpractices. In the encryption tab just upload your image and download the encrypted image along with the key to decrypt. You can just decrypt the image afterwards using the decryption tab.  	
    </p>
    
</div>
	<br><br><br><br><br><br><br>
{% endblock %}
