<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/content/teams.css" />
</head>
<body>
<div class="row" >
    <div class="column">
      <div class="card">
        <img src="..\static\content\monta.jpeg" alt="Moutaha" style="width:100%">
        <div class="container">
          <h2>Mountaha Ghabry</h2>
          <p class="title">Junior</p>
          <p><b>Major: </b>Business Analytics</p>
          <p><b>Minor: </b>IT</p>
          <a href="https://www.linkedin.com/in/ghabri-mountaha404/"><button class="button">Contact</button></a>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="..\static\content\yass.jpeg" alt="Yassine" style="width:100%">
        <div class="container">
          <h2>Mohamed Yassine Mekni</h2>
          <p class="title">Junior</p>
          <p><b>Major: </b>Business Analytics</p>
          <p><b>Minor: </b>IT</p>
          <a href="https://www.linkedin.com/in/mohamed-yassine-mekni/"><button class="button">Contact</button></a>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="..\static\content\samr.jpeg" alt="John" style="width:100%">
        <div class="container">
          <h2>Samer Labidi</h2>
          <p class="title">Junior</p>
          <p><b>Major: </b>Business Analytics</p>
          <p><b>Minor: </b>IT</p>
          <a href="https://www.linkedin.com/in/samer-labidi/"><button class="button">Contact</button></a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="..\static\content\zizi.jpeg" alt="Zaineb" style="width:100%">
        <div class="container">
          <h2>Zaineb Bouriga</h2>
          <p class="title">Junior</p>
          <p><b>Major: </b>Business Analytics</p>
          <p><b>Minor: </b>IT</p>
          <a href="https://www.linkedin.com/in/zaineb-bouriga-8227b3221/"><button class="button">Contact</button></a>
        </div>
      </div>
    </div>
  
  </div>
</body>
</html>